@page "/"

<h1>Aplikacja stworzona na potrzeby laboratoriów ZAI</h1>
<br />
<h3>Strona wyświetla kody pocztowe oraz umożlwia ich edycje użytkownikom z uprawnieniami</h3>
<br />
<h4>Stworzona przez Tobiasza Gabryliszyn studenta Akademii im. Jakuba z Paradyża</h4>

Welcome to my new app.

